/* tailwind styles */
/* @import 'tailwindcss'; */
/* @import '../src/lib/styles/index.css'; */
/*
  NOTE: PREVIEW HTML/FRAME STYLES

  i.e. when visiting a story and when visiting Documentation page

  our design system css variables are available in here
*/
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=IBM+Plex+Serif:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

/* -------------------- Storybook Preview UI -------------------- */
/* -------------------- General -------------------- */

html.dark {
  background-color: var(--color-background);
  color: var(--color-foreground);
}

html.light {
  background-color: var(--color-background);
  color: var(--color-foreground);
}

html.dark #storybook-root {
  /* BACKGROUND FOR DOC AND STORIES */
  background-color: var(--color-background);
}

body {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

/* override background color of wrapper div for doc pages */
.light .sbdocs.sbdocs-wrapper {
  background-color: var(--color-background);
}
.dark .sbdocs.sbdocs-wrapper {
  background-color: var(--color-background);
}
.light .sbdocs {
  background-color: var(--color-background);
}
.dark .sbdocs {
  background-color: var(--color-background);
}

.light .sb-bar {
  background-color: var(--color-background);
}
.dark .sb-bar {
  background-color: var(--color-background);
}

/* -------------------- Storybook story preview -------------------- */

.dark {
  min-height: 100%; /* min-h-full */
  background-color: var(--color-background);
}

.light {
  min-height: 100%; /* min-h-full */
  background-color: var(--color-background);
}

/* Storybook env overrides */
code {
  font-size: inherit;
}
