.highlight {
  position: relative;
  isolation: isolate;
  white-space: nowrap;
  display: inline-block;
}

.highlight::after {
  content: '';
  position: absolute;
  top: var(--highlight-spread-top, 0);
  bottom: var(--highlight-spread-bottom, 0);
  left: var(--highlight-spread-left, 0);
  right: var(--highlight-spread-right, 0);
  z-index: -1;
  mask-image: var(--highlight-variant);
  -webkit-mask-image: var(--highlight-variant);
  mask-repeat: no-repeat;
  -webkit-mask-repeat: no-repeat;
  mask-size: 100% 100%;
  -webkit-mask-size: 100% 100%;
  pointer-events: none;
  transition: all 300ms;
}
